.heading{
    box-shadow: 5px 5px 5px gray;
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: white;
    width: 100%;
    background-color: gray;
    bottom: 0;
    line-height: 3;
    text-align: center;
}

.h{
 
    color: white;
 font-size: 75;
    background-color: gray;
    bottom: 0;
    line-height: 3;
    text-align:right;
}

canvas{
    border: 3px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}
